#outDest{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#userOutDest1{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#userOutDest2{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.secHeader{
    grid-column: 1 / span 4;
}

.nav-wrapper{
    text-align: left;
}